// font-family: 'Noto Sans JP', sans-serif;
// font-family: 'Noto Serif JP', serif;
body {
  font-family: "Noto Serif JP", serif;
}

.video-container {
  height: 80vh;
  position: relative;
  overflow: hidden;
}
@media (min-width: 600px) {
  .video-container {
    height: 100vh;
  }
}

video {
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
button {
  padding: 0;
  border: none;
  background: transparent;
}

button img {
  display: block;
}
.main-text {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  @media screen and (max-width: 820px) {
    padding-top: 10rem;
  }
  h2 {
    font-size: 3rem;
    color: #fff;
    text-shadow: 1px 2px 3px #808080;
    font-weight: 200;
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
    @media screen and (max-width: 820px) {
      font-size: 2rem;
    }
  }
  button img{
    width: 500px;
    @media screen and (max-width: 820px) {
        width: 400px;
      }
  }
  .sub-text {
    display: flex;
    p {
      background: #fff;
      border-radius: 30px;
      padding: 0.2rem 2.2rem;
      margin-top: 6rem;
      @media screen and (max-width: 820px) {
        font-size: 0.7rem;
        padding: 0.2rem 2.2rem;
        margin-top: 4rem;
      }
    }
    p:nth-of-type(2) {
      margin-left: 1rem;
    }
  }
}
